/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
    --color-background: #0F162D;
    --color-machine-learning: #CA59FF;
    --color-computer-vision: #6C7CFF;
    --color-natural-language: #2AFFFF;
    --color-robotics: #FFF629;
    --color-primary: #FFFFFF;
    --color-tile-color: #272D42;
    --color-footer-background: #000000;
}